body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: grey;

}
.site-heading-lower{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mb-3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black !important;
}
.notyellow{
    color: black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}

/*Div styles*/
.common{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:absolute;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;
}
.middle{
    top: 100px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: white;
    font-style: italic;
    font font-weight: bold;
}
.imgcenter{
    display: block;
    margin: auto;
    border: 5px solid navy;
    width: 600px;
    height: 300px;
}
.introimg{
   width: 400px;
    height: 700px;
  
}
.undergrad{
    right: 0px !important;
}
.navbackgroundcolor{
    background-color: aliceblue;
}